body {
    background-color: #FFFFFF;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    margin: 5rem auto;
}

section {
    min-height: 100vh;
    border: 2px solid black;
    padding: 2rem;
}

section:nth-child(even) {
    background-color: aquamarine;
}

#Plaid {

}

#TransparentCircles {

}