body {
    background-color: #FFFFFF;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

section {
    min-height: 100vh;
    border: 2px solid black;
}

hgroup {padding: 3rem;}

a {font-weight: bold; color: black;}


/* ********************************************** */
/* *******   Landing section: #Home    ********** */
/* ********************************************** */

#Home {
    --darkest: #88333388;
    --darker: #FF8888;
    --lighter: #FF888888;
    --font: #270707;
    color: var(--font);
    background-image: 
        linear-gradient(
            var(--darkest),
            transparent 7vh,
            transparent 93vh,
            var(--darkest)
        ),
        linear-gradient(
            to right,
            var(--darkest),
            transparent 7vw,
            transparent 90vw,
            var(--darkest)
        ),
        linear-gradient(
            to left top,
            var(--darker) 24.5%,
            var(--lighter) 24.5%,
            var(--lighter) 25%,

            var(--darker) 25%,
            var(--darker) 42%,

            var(--lighter) 42%,
            var(--darker) 42.5%,
            var(--lighter) 43%,

            var(--darker) 43%,
            var(--darker) 44%,

            var(--lighter) 44%,
            var(--darker) 45.5%,
            var(--lighter) 47%,

            var(--darker) 47%,
            var(--darker) 50%, 
            
            var(--lighter) 50%, 
            var(--lighter) 53%,

            var(--darker) 53%,
            var(--lighter) 54.5%,
            var(--darker) 56%,

            var(--lighter) 56%,
            var(--lighter) 57%,

            var(--darker) 57%,
            var(--lighter) 57.5%,
            var(--darker) 58%,

            var(--lighter) 58%,
            var(--lighter) 75%,

            var(--darker) 75%,
            var(--darker) 75.5%,
            var(--lighter) 75.5%
        )
    ;
}

h1 {
    text-shadow: 0px 0px 5px var(--darker);
    font-size: 3rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    margin: 5rem auto;
    padding: 0 15vw;

}

#Home a {
    background-color: #FFFFFF55;
    padding: 0.2rem;
    border-radius: 5px;
    box-shadow: 0 0 8px white;
    text-shadow: 0 0 2px #00000088;
}


/* ********************************** */
/* *******  Plaid section  ********** */
/* ********************************** */

#Plaid {
    --plaid-1: #00FF8855;
    --plaid-2: #0055FF55;
    --plaid-3: #00000055;
    --plaid-1-fade: #00FF882A;
    --plaid-2-fade: #0055FF2A;
    --plaid-3-fade: #0000002A;
    text-shadow: 0px 0px 10px black, 0 0 3px white;
    background-image: 
        linear-gradient(
            85deg,
            transparent 15rem,
            var(--plaid-3) 15.2rem,
            var(--plaid-3) 18rem,
            transparent 18.2rem,
            transparent 20rem,
            var(--plaid-2) 20.2rem,
            var(--plaid-2) 25rem,
            transparent 25.2rem,
            transparent 30rem,
            var(--plaid-1) 30.2rem,
            var(--plaid-1) 40rem,
            transparent 40.2rem,
            transparent 44rem,
            var(--plaid-2) 44.2rem,
            var(--plaid-2) 45rem,
            transparent 45.2rem
        ),
        linear-gradient(
            175deg,
            transparent 15rem,
            var(--plaid-3) 15.2rem,
            var(--plaid-3) 18rem,
            transparent 18.2rem,
            transparent 20rem,
            var(--plaid-2) 20.2rem,
            var(--plaid-2) 25rem,
            transparent 25.2rem,
            transparent 30rem,
            var(--plaid-1) 30.2rem,
            var(--plaid-1) 40rem,
            transparent 40.2rem,
            transparent 44rem,
            var(--plaid-2) 44.2rem,
            var(--plaid-2) 45rem,
            transparent 45.2rem
        )
    ;
}


/* ************************************************ */
/* *******  Transparent circles section  ********** */
/* ************************************************ */

#TransparentCircles {
    position: relative;
    background-image: 
        url(circleMask.svg),
        linear-gradient(
            #91d9edFF,
            #91d9ed88 7vh,
            #91d9ed88 93vh,
            #91d9edFF
        ),
        linear-gradient(
            to right,
            #91d9edFF,
            #91d9ed88 7vw,
            #91d9ed88 90vw,
            #91d9edFF
        )
    ;
    background-repeat: repeat;
}

#clouds {
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: url(clouds.jpg);
    background-repeat: repeat;
    /* background-size: cover; */
}


/* **************************************************** */
/* *******  Dark diagonal pinstripe section  ********** */
/* **************************************************** */

#Pinstripe {
    color: white;
    background-image: 
        radial-gradient(
            transparent 10%,
            #000000CC
        ),
        repeating-linear-gradient(
            100deg,
            black 10px,
            #111111 11px,
            #111111 13px,
            black 14px,
            black 20px   
        )
    ;
}

#Pinstripe a {
    padding: 1rem;
    position: relative;
    top: 2rem;
    border-radius: 20px;
    outline: 1px solid black;
    font-weight: bolder;
    text-shadow: 0px 0px 5px black;
    background-image: 
        radial-gradient(
            at 75% 65%,
            #FFFFFFAA 0%,
            #ff1f3155 20%,
            #9e1d2855 30%,
            #55021433 40%
        ),
        radial-gradient(
            #ff1f31,
            #2c000a 70%
        )
    ;
}

#Pinstripe a::after {     /* This is the light shining off the underlying surface */
    content: "";
    position: absolute;
    height: 20%;
    width: 20%;
    right: -9px;
    bottom: -2px;
    background-image: radial-gradient(
        #FFFFFF88 10%,
        #FFFFFF00 80%
    );
    border-radius: 50%;
}


/* ******************************************************** */
/* *******  Peacock feather iridescence section  ********** */
/* ******************************************************** */

/* https://davesmyth.com/clip-path-scaling */

#Peacock {
    color: white;
    background-color: #111111;
}

#Peacock a {
    color: #DD33FF;
}

#holoOuter {
    position: relative;
    width: 50vw;
    height: 50vh;
    margin: 0 auto;
    opacity: 0.4;
}

#holoInner {
    position: absolute;
    width: 100%;
    height: 0%;
    padding-bottom: 100%;
    clip-path: url(#stairOgee);
    background-color: #222222;
}

.irid {
    width: 70%;
    height: 100%;
    position: absolute;
    opacity: 0;
    overflow: visible;
    border-radius: 45%;
}

#green {
    background-image: radial-gradient(
        #00FF00 20%,
        transparent 70%);
    left: 2%;

}

#cyan {
    background-image: radial-gradient(
        #00FFFF 20%,
        transparent 70%);
    left: 17%;
}

#blue {
    background-image: radial-gradient(
        #0000FF 20%,
        transparent 70%);
    left: 32%;
}

#magenta {
    background-image: radial-gradient(
        #FF00FF 20%,
        transparent 70%);
    right: -2%;
}


/* ************************* */
/* Stairs background section */
/* ************************* */

#Stairs hgroup {
    position: relative;   /* needed for z-index stacking */
    z-index: 1;
    background-color: #03164dBB;
    border-radius: 60%;
    box-shadow: 0 0 30px #03164d5D;
}

#Stairs hgroup, #Stairs a {
    color: #c2f3ff;
    text-shadow: 0px 0px 10px #c2f3ff, 0 0 3px #03164d;
}

#Stairs button {
    background-color: #012751;
    color: #c2f3ff;
    padding: 1rem;
    border-radius: 50%;
}

#Stairs {
    --line-color: #311463;
    --dimension: 100px;  /* Remember: update the unitWidth variable in stairs.js to match */
    --curve-size: 25px;
    --curve-reverse: -25px;
    --line-width: 8px;   /* Remember to update the lineWidth variable in stairs.js to match */
    --line-reverse: -8px;
    position: relative;
    height: 100vh;
    overflow: hidden;
    background-color: #03164d;
}

#stairsContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    position: absolute;
    top: var(--line-reverse);
    left: var(--line-reverse);
    z-index: 0;
}

.stair {
    z-index: 0;
    position: relative;
    box-sizing: border-box;
    height: var(--dimension);
    width: var(--dimension);

    border-radius: var(--curve-size);
    border-top: var(--line-width) solid var(--line-color);
    border-left: var(--line-width) solid var(--line-color);
    border-bottom: calc(var(--curve-size)) solid transparent;
    border-right: calc(var(--curve-size)) solid transparent;
}

.stairInner {
    position: absolute;
    z-index: 0;
    bottom: calc(var(--curve-reverse) - var(--line-width));
    right: calc(var(--curve-reverse) - var(--line-width));
    height: calc(var(--dimension)/2);
    width: calc(var(--dimension)/2);    
    
    border-radius: var(--curve-size);
    border-bottom: var(--line-width) solid var(--line-color);
    border-right: var(--line-width) solid var(--line-color);
    border-top: calc(var(--curve-size)) solid transparent;
    border-left: calc(var(--curve-size)) solid transparent;
}

.stairBox {
    z-index: 0;
    height: calc(var(--dimension) / 2);
    width: calc(var(--dimension) / 2);
    position: absolute;
    top: calc(var(--dimension) / 4 - (var(--line-width) / 2));
    left: calc(var(--dimension) / 4 - (var(--line-width) / 2));
    /* box-shadow: 
        0 0 0 4px #014d6d inset,
        0 0 0 8px #0e318b inset,
        0 0 0 11px #0b2977 inset,
        0 0 0 15px #391294 inset,
        0 0 0 18px #0e318b inset,
        0 0 0 22px #014d6d inset,
        0 0 0 25px #0b2977 inset; */
    background-color: #0b2977;
    animation: stairStrobe 1s linear infinite;
}

@keyframes stairStrobe {
    0% {box-shadow:	
        0 0 0 4px #014d6d inset,
        0 0 0 8px #0e318b inset,
        0 0 0 11px #0b2977 inset,
        0 0 0 15px #391294 inset,
        0 0 0 18px #0e318b inset,
        0 0 0 22px #014d6d inset,
        0 0 0 25px #0b2977 inset;
    }	
    14% {box-shadow:	
        0 0 0 4px #0b2977 inset,
        0 0 0 8px #014d6d inset,
        0 0 0 11px #0e318b inset,
        0 0 0 15px #0b2977 inset,
        0 0 0 18px #391294 inset,
        0 0 0 22px #0e318b inset,
        0 0 0 25px #014d6d inset;
    }	
    28% {box-shadow:	
        0 0 0 4px #014d6d inset,
        0 0 0 8px #0b2977 inset,
        0 0 0 11px #014d6d inset,
        0 0 0 15px #0e318b inset,
        0 0 0 18px #0b2977 inset,
        0 0 0 22px #391294 inset,
        0 0 0 25px #0e318b inset;
    }	
    43% {box-shadow:	
        0 0 0 4px #0e318b inset,
        0 0 0 8px #014d6d inset,
        0 0 0 11px #0b2977 inset,
        0 0 0 15px #014d6d inset,
        0 0 0 18px #0e318b inset,
        0 0 0 22px #0b2977 inset,
        0 0 0 25px #391294 inset;
    }	
    57% {box-shadow:	
        0 0 0 4px #391294 inset,
        0 0 0 8px #0e318b inset,
        0 0 0 11px #014d6d inset,
        0 0 0 15px #0b2977 inset,
        0 0 0 18px #014d6d inset,
        0 0 0 22px #0e318b inset,
        0 0 0 25px #0b2977 inset;
    }	
    71% {box-shadow:	
        0 0 0 4px #0b2977 inset,
        0 0 0 8px #391294 inset,
        0 0 0 11px #0e318b inset,
        0 0 0 15px #014d6d inset,
        0 0 0 18px #0b2977 inset,
        0 0 0 22px #014d6d inset,
        0 0 0 25px #0e318b inset;
    }	
    86% {box-shadow:	
        0 0 0 4px #0e318b inset,
        0 0 0 8px #0b2977 inset,
        0 0 0 11px #391294 inset,
        0 0 0 15px #0e318b inset,
        0 0 0 18px #014d6d inset,
        0 0 0 22px #0b2977 inset,
        0 0 0 25px #014d6d inset;
    }	
    100% {box-shadow:	
        0 0 0 4px #014d6d inset,
        0 0 0 8px #0e318b inset,
        0 0 0 11px #0b2977 inset,
        0 0 0 15px #391294 inset,
        0 0 0 18px #0e318b inset,
        0 0 0 22px #014d6d inset,
        0 0 0 25px #0b2977 inset;
    }	
}


/* ******************* */
/* Stripe text section */
/* ******************* */

#StripeText {
    background-color: #03164d;
}

#StripeText > p {
    text-transform: uppercase;
    font-family: "Manrope", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 6rem;
    margin-top: 2rem;
    padding: 0 2rem;

}


/* ***************************************** */    
/* *******  Ogee pattern section  ********** */
/* ***************************************** */


#Ogee {
    position: relative;
    overflow: hidden;
}

#Ogee hgroup {
    z-index: 5;
}

#Ogee h2 {
    font-family: "Modak", serif;
    font-weight: 400;
    font-size: 3rem;
    color: #68d6ce;
    text-shadow: 0 0 12px #040072;
}

#Ogee a {
    color: #040072;
    text-shadow: 0 0 6px #040072AA;
    font-weight: bold;
    font-size: 1.5rem;
}

#ogeeOuter, #ogeeInner {
    position: absolute;
    width: 100%;
    margin: 0;
    padding: 0;
}

#ogeeOuter {
    height: 100vh;
    top: 0;
    left: 0;
    background-image: repeating-linear-gradient(
        #ffd285 0px,
        #ff6684 50px
    );
    z-index: -1;
}

#ogeeInner {
    height: calc(100vh + 50px);
    top: -25px;
    left: 0;
    background-image: url(ogeeGradient.svg);
    background-size: 50px;
    background-repeat: repeat;
    z-index: -1;
}

#ogeeContainer img {}


