body {
    background-color: #FFFFFF;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

section {
    min-height: 100vh;
    border: 2px solid black;
}

hgroup {padding: 3rem;}

a {font-weight: bold;}

/* *******   Landing section: #Home    ********** */

#Home {
    --darkest: #883333;
    --darker: #FF8888;
    --lighter: #FF888888;
    background-image: 
        linear-gradient(
            var(--darkest),
            transparent 7vh,
            transparent 93vh,
            var(--darkest)
        ),
        linear-gradient(
            to right,
            var(--darkest),
            transparent 7vh,
            transparent 93vh,
            var(--darkest)
        ),
        linear-gradient(
            to left top,
            var(--darker) 24.5%,
            var(--lighter) 24.5%,
            var(--lighter) 25%,

            var(--darker) 25%,
            var(--darker) 42%,

            var(--lighter) 42%,
            var(--darker) 42.5%,
            var(--lighter) 43%,

            var(--darker) 43%,
            var(--darker) 44%,

            var(--lighter) 44%,
            var(--darker) 45.5%,
            var(--lighter) 47%,

            var(--darker) 47%,
            var(--darker) 50%, 
            
            var(--lighter) 50%, 
            var(--lighter) 53%,

            var(--darker) 53%,
            var(--lighter) 54.5%,
            var(--darker) 56%,

            var(--lighter) 56%,
            var(--lighter) 57%,

            var(--darker) 57%,
            var(--lighter) 57.5%,
            var(--darker) 58%,

            var(--lighter) 58%,
            var(--lighter) 75%,

            var(--darker) 75%,
            var(--darker) 75.5%,
            var(--lighter) 75.5%
        )
    ;
}

h1 {
    text-shadow: 0px 0px 5px var(--darker);
    font-size: 3rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    margin: 5rem auto;

}

#Home a {
    background-color: #FFFFFF55;
    border-radius: 5px;
}

/* *******  Plaid section  ********** */


#Plaid {
    --plaid-1: #00FF8855;
    --plaid-2: #0055FF55;
    --plaid-3: #00000055;
    --plaid-1-fade: #00FF882A;
    --plaid-2-fade: #0055FF2A;
    --plaid-3-fade: #0000002A;
    text-shadow: 0px 0px 10px black, 0 0 3px white;
    background-image: 
        linear-gradient(
            85deg,
            transparent 15rem,
            var(--plaid-3) 15.2rem,
            var(--plaid-3) 18rem,
            transparent 18.2rem,
            transparent 20rem,
            var(--plaid-2) 20.2rem,
            var(--plaid-2) 25rem,
            transparent 25.2rem,
            transparent 30rem,
            var(--plaid-1) 30.2rem,
            var(--plaid-1) 40rem,
            transparent 40.2rem,
            transparent 44rem,
            var(--plaid-2) 44.2rem,
            var(--plaid-2) 45rem,
            transparent 45.2rem
        ),
        linear-gradient(
            175deg,
            transparent 15rem,
            var(--plaid-3) 15.2rem,
            var(--plaid-3) 18rem,
            transparent 18.2rem,
            transparent 20rem,
            var(--plaid-2) 20.2rem,
            var(--plaid-2) 25rem,
            transparent 25.2rem,
            transparent 30rem,
            var(--plaid-1) 30.2rem,
            var(--plaid-1) 40rem,
            transparent 40.2rem,
            transparent 44rem,
            var(--plaid-2) 44.2rem,
            var(--plaid-2) 45rem,
            transparent 45.2rem
        )
    ;
}

/* *******  Transparent circles section  ********** */

#TransparentCircles {
    position: relative;
    background-image: 
        url(circleMask.svg),
        linear-gradient(
            #91d9edFF,
            #91d9ed88 7vh,
            #91d9ed88 93vh,
            #91d9edFF
        ),
        linear-gradient(
            to right,
            #91d9edFF,
            #91d9ed88 7vh,
            #91d9ed88 93vh,
            #91d9edFF
        )
    ;
    background-repeat: repeat;
}

#clouds {
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: url(clouds.jpg);
    background-repeat: repeat;
    /* background-size: cover; */
}

/* *******  Dark diagonal pinstripe section  ********** */

#Pinstripe {
    color: white;
    background-image: 
        radial-gradient(
            transparent 10%,
            #000000CC
        ),
        repeating-linear-gradient(
            100deg,
            black 10px,
            #111111 11px,
            #111111 13px,
            black 14px,
            black 20px   
        )
    ;
}

#Pinstripe a {
    padding: 1rem;
    position: relative;
    top: 2rem;
    border-radius: 20px;
    outline: 1px solid black;
    color: black;
    font-weight: bolder;
    text-shadow: 0px 0px 5px black;
    background-image: 
        radial-gradient(
            at 75% 65%,
            #FFFFFFAA 0%,
            #ff1f3155 20%,
            #9e1d2855 30%,
            #55021433 40%
        ),
        radial-gradient(
            #ff1f31,
            #2c000a 70%
        )
    ;
}

#Pinstripe a::after {     /* This is the light shining off the underlying surface */
    content: "";
    position: absolute;
    height: 20%;
    width: 20%;
    right: -9px;
    bottom: -2px;
    background-image: radial-gradient(
        #FFFFFF88 10%,
        #FFFFFF00 80%
    );
    border-radius: 50%;
}

/* *******  Peacock feather iridesence section  ********** */

#Peacock {
    color: white;
    background-color: #111111;
}

#container {
    position: relative;
    outline: 5px solid white;
    height: 50vh;
    width: 78vw;
    margin: 10vh auto;
}

.irid {
    height: 50vh;
    width: 18vw;
    position: absolute;
    opacity: 0.5;
    visibility: hidden;
}

#red {
    background-image: radial-gradient(
        #FF0000 20%,
        transparent
    );
    left: 0;}

#orange {
    background-image: radial-gradient(
        #ff6000 20%,
        transparent
    );
    left: 10vw;}

#yellow {
    background-image: radial-gradient(
        #FFFF00 20%,
        transparent
    );
    left: 20vw;}

#green {
    background-image: radial-gradient(
        #00FF00 20%,
        transparent
    );
    left: 30vw;}

#cyan {
    background-image: radial-gradient(
        #00FFFF 20%,
        transparent
    );
    left: 40vw;}

#blue {
    background-image: radial-gradient(
        #0000FF 20%,
        transparent
    );
    left: 50vw;}

#magenta {
    background-image: radial-gradient(
        #FF00FF 20%,
        transparent
    );
    left: 60vw;}